# exclude history/log files
.*history
.*log
.config/**/history
.config/**/closed
.config/**/command
.config/**/cookies.db
.config/**/search
.config/**/queue
.config/**/sessions/

# specific exclusions
.ArchLabs*/**
.Xauthority
.cache/**
.config/rclone/**
.dotfiles
.esd_auth
.icons/**
.lesshst
.links/**
.local/**
.mozilla/**
.nnncp
.screenlayout/**
.task/**
.thumbnails/**
.viminfo
.w3m/history
.xsession*
.zcompdump
.zdirs
.zim/**

# specific inclusions

# home directories to ignore
Configuration/**
Desktop/**
Documents/**
Downloads/**
Pictures/**
Videos/**
Working/**
bin/**
